<!DOCTYPE html>
<html>
<head>
  <title>GraphVisualizer</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="http://d3js.org/d3.v2.js?2.9.1"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag  @type, 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
<body>


    <%= yield %>
</body>
</html>
